$landingpage_RG: #2481b7;
$loginpage: #f5f8fa;

.landingpage-RG {
	height: 100vh;
	/* background-color: #1d2129; */
	background-color: $landingpage_RG;
}
.landingpage-LE {
	background-color: #f5f8fa;
}
.usrAccess {
	line-height: 10px;
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 20% !important;
}
.MuiFormControl-marginNormal-2 {
	margin-top: 16px;
	margin-bottom: -5px !important;
}
.login {
	background-color: $loginpage;
}
